<h2>Home</h2>

<form action="/recipes/random" method="GET">
    <button type="submit">Generate Random Meal</button>
</form>


<% for (let i =0; i <27;  i++ ) { %>
    
    <%= country.meals[i].strArea %>
    <%#  will output the numbers 1-10 %>
    <% } %>


