<div class="content">

    <h2>Hello, <%= user.username%> :)</h2>

    <h4>List of favorite recipes</h4>
    
    <% faves.forEach(r => { %>
    
        
        <h3><%= r.title %></h3>
    
    <img src="<%= r.img %>" alt="">
    
    <form method="POST" action="/users/profile?_method=DELETE">
        <button type="submit" class="button is-danger">Remove</button>
    </form>
        
        
        <% })  %>
</div>